<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Inventory</title>
    <!-- Add Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Book Inventory</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'library' %}"
              >Library Management</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'book_form' %}">Add Book</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'author_form' %}">Add Author</a>
          </li>
        </ul>
        {% if request.user.is_authenticated %}
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <form method="post" action="{% url 'logout' %}" class="form-inline">
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-danger">
                <i class="fas fa-sign-out-alt"></i> Logout
              </button>
            </form>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container mt-5">
      <!-- Your page content goes here -->
    </div>
    <!-- Add Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
